/* Structure générale */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

h1 {
    font-size: 3em;
    color: #2ecc71;
    margin-top: 20px;
}

h2 {
    font-size: 2em;
    color: #3498db;
    margin-top: 10px;
}

.controls {
    margin-top: 30px;
    z-index: 2;
    position: relative;
}

button#celebrate {
    font-size: 1.5em;
    padding: 0.5em 1em;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button#celebrate:hover {
    background-color: #e91e63;
}

/* Canvas et Ballons */
#confetti, #balloon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#balloon-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.balloon {
    width: 125px;
    height: 125px;
    position: relative;
    border-radius: 50% 70% 50% 70% / 50% 70% 10%;
    background: radial-gradient(ellipse at left bottom, #7C601F 3%, #EDC969 5%, #7C601F 17%, #8A6E31 40%, transparent 60%),
    radial-gradient(ellipse at top right, #FFFFFE 0%, #FFFFAB 17%, #D1B464 40%, #7C601F 80%);
    box-shadow: inset -10px -10px 30px rgba(0, 0, 0, 0.2),
    inset 10px 10px 20px rgba(255, 255, 255, 0.5),
    0 10px 15px rgba(0, 0, 0, 0.3);
}

.balloon::after {
    content: "🎗";
    position: absolute;
    bottom: -1px;
    right: -6px;
    font-size: 13px;
}

/* Modal */
.celebrationmodal {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(55, 71, 79, 0.5);
    animation: bounceIn 0.75s;
    z-index: 999;
}

.celebrationmodal-container {
    width: 400px;
    height: 500px;
    background-color: white;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .celebrationmodal-container {
        width: 170px;
        height: 260px;
    }
}

.celebration-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.celebration-close button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

.celebration-close button:hover {
    color: #000;
}

/* Animations */
@keyframes float {
    from {
        transform: translateY(100vh) rotate(var(--rotate-angle, 0deg));
        opacity: 1;
    }
    to {
        transform: translateY(-300vh) rotate(calc(var(--rotate-angle, 0deg) + var(--rotate-speed, 0deg)));
        opacity: 0.8;
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(1.5);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) scale(1);
    }
    80% {
        transform: translateY(-10px) scale(1.1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
